/* Base styles for the whole website */
body {
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f5;
    background-image: url('csPortfolioBckgrd.jpg')
    background-size: cover;
    background-position: centre;
    color: #333;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notes-app {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.title-bar {
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: move;
}

.title-bar .buttons {
    display: flex;
    gap: 5px;
}

.title-bar .buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.title-bar .buttons .close {
    background-color: #ff605c;
}

.title-bar .buttons .minimize {
    background-color: #ffbd44;
}

.title-bar .buttons .maximize {
    background-color: #00ca4e;
}

.title-bar .title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.sidebar {
    background-color: #f4f4f8;
    width: 200px;
    padding: 20px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li:hover {
    background-color: #e8e8e8;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    font-size: 16px;
    line-height: 1.5;
}

.section-squares {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.square {
    background-color: #f0f0f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.square img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.square p {
    margin-top: 10px;
    font-size: 16px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.prompt {
    margin-right: 10px;
    color: #333;
    font-weight: bold;
}

#input {
    background-color: transparent;
    border: none;
    color: #333;
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}
